* {
  box-sizing: border-box;
}

html {
  background-color: #2148c0;
}

.container {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

h1 {
  margin-top: 105px;
  margin-bottom: 99px;
  font-size: 28px;
  color: #fff;
}

.form-container {
  width: 927px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}
